<div class="outer-div p-4">
    <div class="card shadow bg-dark text-light">
        <div class="media p-2">
                <img class="mr-3 align-self-start feed-img" src="assets/news-modi.jpg">
                <div class="media-body">
                    <h5 class="heading">Newsline</h5>
                    <p>Cras sit amet nibhlibero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
                        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.</p>
                    <button class="btn btn-primary">Read more...</button>
                </div>
        </div>
    </div>

    <div class="card shadow bg-dark text-light">
        <div class="media p-2">
                <img class="mr-3 align-self-start feed-img" src="assets/news-modi.jpg">
                <div class="media-body">
                    <h5 class="heading">Newsline</h5>
                    <p>Cras sit amet nibhlibero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
                        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec lacinia congue felis in faucibus.</p>
                    <button class="btn btn-primary">Read more...</button>
                </div>
        </div>
    </div>
    
</div>
